  
      .pixel-font {
        font-family: "Press Start 2P", cursive;
        /* Mejora la nitidez en algunos navegadores */ 
        text-rendering: crispEdges;
      }
      .background-megaman {
        /* ⚠️ Asegúrate de que esta ruta de imagen sea correcta */
        background-image: url("/images/1364878.png");

        /* Usar un porcentaje para permitir el movimiento de la animación */
        background-size: 100% auto;
        background-attachment: fixed;
        background-repeat: no-repeat;
      }